[mat-dialog-title] {
  margin: -24px 24px 0 -24px !important;
  padding: 10px 24px;
  cursor: move;
}

.mat-dialog-content {
  min-height: 130px;
}


.mat-dialog-actions {
  justify-content: flex-end;
}
