[mat-dialog-title] {
    padding: 10px 24px;
    margin: -24px 24px 0 -24px !important;
    cursor: move;
}

.mat-dialog-content {
    min-height: 130px;
}


.mat-dialog-actions {
    justify-content: flex-end;
}