<!-- <p>login works!</p> -->
<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="account-brand align-center">
        <img src="../../../assets/app-logo-reverse.png" alt="logo">
    </div>
    <mat-card class="form-container">
        <mat-card-header>
            <mat-card-title>登录</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form  [formGroup]="formData" (ngSubmit)="formSubmit()">
                <label for="UserCode" class="form-field-label">用户名</label>
                <mat-form-field class="full" 
                                appearance="outline" 
                                autofilled="true" 
                                floatLabel="always">
                    <input matInput matAutosize formControlName="UserCode">
                </mat-form-field>

                <label for="Password" class="form-field-label">密码</label>
                <mat-form-field class="full"
                                appearance="outline"
                                autofiled="false"
                                floatLabel="always">
                    <input matInput matAutosize formControlName="Password">
                </mat-form-field>
                <div class="error-info">{{ formError}}</div>
                <button type="submit"
                        class="full"
                        color="primary"
                        mat-raised-button>
                        登录
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>